{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} It works {% endblock %}</h1>
    {% for post in Admin %}
        <a href="#">
            <h2>{{ post['admin_name'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}

{% for post in posts %}
    <a href="{{ url_for('post', post_id=post['admin_id']) }}">
        <h2>{{ post['admin_id'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <a href="{{ url_for('edit', id=post['admin_id']) }}">
        <span class="badge badge-warning">Edit</span>
    </a>
    <hr>
{% endfor %}