{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Login Test {% endblock %}</h1>
<form>
    <div class="form-group">
        <label for="admin_id">Admin ID</label>
        <input type="text" class="form-control" id="admin_id" aria-describedby="emailHelp" placeholder="Enter ID">
    </div>
    <div class="form-group">
        <label for="admin_pwd">Password</label>
        <input type="password" class="form-control" id="admin_pwd" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}