{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Admin Edit "{{ post['admin_id'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Admin ID</label>
        <input type="number" name="admin_id" placeholder="Admin ID"
               class="form-control"
               value="{{ request.form['admin_id'] or post['admin_id'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="text">Admin Name</label>
        <textarea type="number" name="admin_name" placeholder="Admin Name"
                  class="form-control">{{ request.form['admin_name'] or post['admin_name'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="content">Admin Password</label>
        <textarea name="admin_pwd" placeholder="Admin Password"
                  class="form-control">{{ request.form['admin_pwd'] or post['admin_pwd'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete', admin_id=post['admin_id']) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}